<app-navbar></app-navbar>

<section class="cuerpo_page">
    <section id="inicio" class="landing-section">
      <div class="landing-container">
        <img src="assets/mia.png" alt="Persona con sudadera" class="landing-image">
        <h1 class="landing-title">WORK FOR IT...</h1>
        <div class="card-container">
  
          <div class="card"><a [routerLink]="['/sobre-mi']">Sobre mí</a></div>
          <div class="card"><a [routerLink]="['/mis-proyectos']">Mis proyectos</a></div>
          <div class="card"><a [routerLink]="['/mis-proyectos']">Otras curiosidades</a></div>
        </div>
      </div>
    </section>

    <app-footer></app-footer>