<app-navbar></app-navbar>
<section id="sobre-mi" class="body">

    <section class="timeline">
      <h1>Sobre mi</h1>
      <div class="timeline-item">
        <div class="timeline-date"></div>
        <div class="timeline-content">
          <h3>Full Stack Developer (2025)</h3>
          <p>Recibí mi grado como Full Stack Developer en febrero de 2025, adquiriendo bases en tecnologías como
            JavaScript, Angular, HTML y CSS.</p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-content">
          <h3>Trabajo en restaurante (2021 - 2024)</h3>
          <p>Trabajé en un restaurante en Estados Unidos, Texas Roadhouse, en la ciudad de Bloomington, Indiana. Esta
            experiencia me permitió trabajar con grupos multiculturales y mejorar mis habilidades de adaptación a
            equipos
            de trabajo.</p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-content">
          <h3>Jefe de cuadrilla de obra (2020 - 2021)</h3>
          <p>Trabajar como jefe de cuadrillas en la construcción de carreteras me ayudó a desarrollar mis habilidades de
            liderazgo y gestión de personal, tanto calificado como no calificado.</p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-content">
          <h3>Título de Ingeniero Civil (2016 - 2020)</h3>
          <p>En 2024, recibí mi grado como Ingeniero Civil en la Universidad Francisco de Paula Santander, Cúcuta,
            Colombia.</p>
        </div>
      </div>
    </section>
  </section>
<app-footer></app-footer>